---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title" data-txt="{{ page.key }}.title">{{ page.title }}</h1>
  </header>

  <div class="post-content" data-txt="{{ page.key }}.content">
    {{ content }}
  </div>

</article>
